.App {
  text-align: center;
}

.App-logo {
  position:absolute;
  left:0;
  top:0;
}

.App-header {
  background-image:url('./components/layout/limages/is.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img{
  width:100%;
  max-width:100%;
  max-height:100%;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.App-link {
  color: #61dafb;
}


