.footer {
    background-color:white;
    padding: 10px;
    align-content: center;
    color: gray;
    background-image: url('./limages/logo2.png');
    background-position: left 95%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: right;
}

.footer img{
    max-width: 100%;
    height: auto;
}

.footer h3{
    text-align: right;
    font-family: 'Times New Roman';
    font-size: 15px;
}