
.maincontainer{
    margin-top:-118px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:#F3F3F3;
    height:auto;
    flex-direction: row;

}
.boxt{
   background:white;
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 2%;
   box-sizing: border-box;
   font-size: 9px;
   text-align: center;

}
.boxt img{
    position: relative;
}

.boxt h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-style: normal;
    font-size: 15px;
}
.boxt h2{
font-family: sans-serif;
font-style: italic;
color:rgb(49, 41, 41);
}
.boxt h3{
    font-family: sans-serif;
    font-style: normal;
    color:rgb(15, 27, 18);
}    
@media screen and (max-width:1200px){
    .boxt{
        width:40%
    }
}

@media screen and (max-width:600px){
    .boxt{
        width:40%
    }
}



    /*text-align: center;
   
    .box img{
    width:100%;
    max-width:auto;
  }
    .box{
    width:20%;
    margin:1%;
    border:2px solid gray;
    padding:2%;
    background:white;
    box-sizing:border-box;
    font-size: 9px;
}

*/