input {
    margin-top:10px;
    width: 60%;
}
.bn {
    background-color: rgb(41, 41, 40); /* Green */
    border: 2px solid gray;
    border-radius: 8px;
    background-size: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
}
.bn:hover {
    background-color: rgb(214, 195, 22); /* Green */
    color: white;
}
.scrapcontainer{
    text-align: center;
    align-items: center;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
    background:#F3F3F3;
}
.scrapcontainer box{
   background:rgb(85, 87, 85);
   padding: 2%;
   font-size: 9px;
   text-align: center;

}
.box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-style: normal;
}
.box h2{
font-family: sans-serif;
font-style: italic;
color:rgb(49, 41, 41);
}
.box h3{
    font-family: sans-serif;
    font-style: normal;
    color:rgb(15, 27, 18);
}    

@media screen and (max-width:1200px){
    .box{
        width:40%
    }
}

@media screen and (max-width:600px){
    .box{
        width:40%
    }
}



    /*text-align: center;
   
    
    .box{
    width:20%;
    margin:1%;
    border:2px solid gray;
    padding:2%;
    background:white;
    box-sizing:border-box;
    font-size: 9px;
}

*/